<ion-header>
  <ion-toolbar>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button fill="solid" shape="round" color="light" routerLink="">
          <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ mailDetails?.from }}</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="solid" shape="round" color="light">
          <ion-icon slot="icon-only" name="share-outline" color="primary"></ion-icon>
        </ion-button>
        <ion-button fill="solid" shape="round" color="light">
          <ion-icon slot="icon-only" name="search-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>