.email-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #e4e4e4;
    text-transform: capitalize;
    font-weight: 500;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }